body {
  font-family: "Segoe UI", sans-serif;
  background-color: #f9fafb;
  margin: 0;
  padding: 20px;
  margin-left: 50px;
}

button.overview-btn {
  margin-bottom: 20px; /* Adds space below the button */
}

h1 {
  color: #333;
}

.stock-card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 300px;
}

.stock-card h3 {
  margin: 0;
  color: #333;
}

.back-button {
  margin-top: 20px;
}

button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3d8c40;
}
